#vim1{
    position: absolute;
    top: 3%;
    left:20%;
    height: 30%;
    width: 60%;
}
#vim2{
    position: absolute;
    top: 33%;
    left: 35%;
    height: 52%;
    width: 30%;
}
#vim3{
    position: absolute;
    top: 35%;
    left: 48%;
    height: 7%;
    width: 5%;
}
.vi1{
    position: absolute;
    top: 42.5%;
    left: 40%;
    line-height: 30px;
    font-family: lato;
    font-size: 80%;
}
#v1{
    position: absolute;
    top: 45%;
    left: 50%;
    line-height: 30px;
    font-family: lato;
    height: 2%;
    width: 8%;
}
#vim{
    color: green;
    position: absolute;
    top: 50%;
    left: 53%;
    font-family: lato;
    height: 3%;
    width: 5%;
}
.vi2{
    position: absolute;
    top: 53%;
    left: 40%;
    line-height: 30px;
    font-family: lato;
    font-size: 80%;
}
#v2{
    position: absolute;
    top: 55.5%;
    left: 50%;
    line-height: 30px;
    font-family: lato;
    height: 2%;
    width: 8%;
}
.vi3{
    position: absolute;
    top: 60%;
    left: 40%;
    line-height: 30px;
    font-family: lato;
    font-size: 80%;
}
#v3{
    position: absolute;
    top: 62.5%;
    left: 50%;
    line-height: 30px;
    font-family: lato;
    height: 2%;
    width: 8%;
}
.vi4{
    position: absolute;
    top: 67%;
    left: 40%;
    line-height: 30px;
    font-family: lato;
    font-size: 80%;
}
#v4{
    position: absolute;
    top: 69.5%;
    left: 50%;
    line-height: 30px;
    font-family: lato;
    height: 2%;
    width: 8%;
}
#vimal{
    position: absolute;
    top: 77%;
    left: 48%;
    font-family: lato;
    color: red;
    cursor: pointer;
}