.img1{
    position: absolute;
    top: 0%;
    left:20%;
    height: 30%;
    width: 60%;
}
.img2{
    position: absolute;
    top: 30%;
    left: 35%;
    height: 55%;
    width: 30%;
}
.img3{
    position: absolute;
    top: 33%;
    left: 48%;
    height: 7%;
    width: 5%;
}
#F1{
    position: absolute;
    top: 40%;
    left: 40%;
    line-height: 30px;
    font-family: lato;
}
#otp{
    color: red;
    position: absolute;
    top: 55%;
    left: 51%;
}
#F2{
    position: absolute;
    top: 60%;
    left: 40%;
    line-height: 30px;
    font-family: lato;
}
#Button{
    position: absolute;
    top: 77%;
    left: 48%;
}
